body{
    /* background-image: url(/imgs/bkgrd2.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.sidenav {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #189ad3;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .sidenav a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidenav a.home {
    background-color: #fff;
    color: #189ad3;
    margin-left: 20px;
    border-radius: 20px 0 0 20px;
  }
  
  .sidenav a:hover:not(.home) {
    background-color: #fff;
    color: #189ad3;
    margin-left: 20px;
    border-radius: 20px 0 0 20px;
  }

  div.content {
    /* margin-left: 500px;
    padding: 1px 16px;
    height: 1000px; */
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  
  @media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidenav a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
  }

  img{
      border-radius: 50%;
      border: 3px solid  #fff;
  }

  h2{
      color: #fff;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }