body{
    /* background-image: url(/imgs/bkgrd2.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.sidenav {
    margin:auto;
    padding: 0;
    width: 250px;
    background-color: #189ad3;
    position: fixed;
    height: 90%;
    overflow: auto;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .sidenav a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidenav a.home {
    background-color: #fff;
    color: #189ad3;
    margin-left: 20px;
    border-radius: 20px 0 0 20px;
  }
  
  .sidenav a:hover:not(.home) {
    background-color: #fff;
    color: #189ad3;
    margin-left: 20px;
    border-radius: 20px 0 0 20px;
  }
  
  @media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidenav a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
  }

  .sidenav img{
      border-radius: 50%;
      border: 3px solid  #fff;
  }

  .sidenav h2{
      color: #fff;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .container {
    margin-top: 35px;
    margin-left: 300px;
    height: 525px; 
    width: 70%;
    border: 3px solid #189ad3;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: row;
  }

  .container .details{
    padding: 30px;
    text-align: justify;
    line-height: 25px;
  }

  .details h1{
    color: Red;
  }

  .container img{
    border-radius: 0;
    height: 525px;
    object-fit: contain;
  }

  .container .row{
    display: flex;
  }

  .social img{
    width: 50px;
    height: 50px;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px grey;
  }

 

